<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃 연습-4</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        #wrap
        #header
        #nav
        #
        #
    </style>
</head>
<body>
    <div id="wrap"></div>
    <div id="header"></div>
    <div id="nav"></div>
    <div id="main"></div>
    <div id="footer"></div>
</body>
</html>
