<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃개인연습</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        #wrap {
            width: 1280px;
        }
        #header {}
        #nav {}
        #article {}
        #section {}
        #aside {}
        #aside01 {}
        #aside02 {}
        #aside03 {}
        #footer {}
    </style>
</head>
<body>
    <div id="wrap">
        <div id="header"></div>
        <div id="nav"></div>
        <div id="article"></div>
        <div id="section"></div>
        <div id="aside">
            <div id="aside01"></div>
            <div id="aside02"></div>
            <div id="aside03"></div>
        </div>
        <div id="footer"></div>
    </div>
</body>
</html>